body {
  --primary-color: #8750f7;
  --dark-color: #27272a;
  --gray-color: #818186;
  --white-color: #ffffff;
  background: #f5f5f5;
  color: var(--gray-color);
}

.Toastify__toast-container {
  --toastify-z-index: 99999999;
}

.admin-page label {
  font-size: 16px;
  color: var(--dark-color);
  padding-bottom: 5px;
  font-family: var(--font-secondary);
  position: relative;
}

.admin-page .ql-editor {
  min-height: 340px;
}

.admin-page label::after {
  position: absolute;
  right: -10px;
  content: "*";
  font-size: 18px;
}
.admin-page input::placeholder {
  color: var(--gray-color);
  opacity: 80%;
}

.admin-page select {
  font-size: 16px;
  color: var(--gray-color);
}

footer {
  display: none;
}

header {
  display: none;
}

.admin-modal {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .offcanvas-body,
  .offcanvas-header {
    display: none;
  }

  .admin-modal-body {
    width: 450px;
    padding: 40px;
    flex-shrink: 0;
    background: #fff;
    h6 {
      font-size: 18px;
      color: var(--dark-color);
      text-align: center;
      padding-bottom: 40px;
    }

    .btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}

p {
  font-size: 16px;
  color: var(--gray-color);
  line-height: 1.5;
}

.content-wrapper {
  padding: 40px 40px;
  background: var(--white-color);
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 60vh;
  margin-bottom: 200px;

  .no-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    h3 {
      font-size: 40px;
      color: var(--gray-color);
    }
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .section-title {
    font-size: 40px;
    padding: 20px 0px;
    color: var(--dark-color);
    text-transform: capitalize;
  }
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
}

.item-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  button,
  a {
    font-size: 14px;
    background: red;
    color: var(--white-color);
    padding: 6px 10px;
    line-height: 1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

.dash-input-form,
.dash-input-form:focus {
  width: 100%;
  margin-bottom: 32px;
  font-size: 16px;
  font-family: var(--font-primary);
  border: 1px solid #e4e4e7;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dash-input-form:focus {
  border-color: var(--primary-color);
}

textarea.dash-input-form {
  min-height: 400px;
  height: fit-content;
}

/* ===========================================================
    SIDE BAR CSS
=========================================================== */

.admin-page {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 60px;
  padding-right: 20px;
}

.dashboard-sidenav {
  background: #0e1b6b;
  z-index: 100;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 20%;
}

.dashboard-sidenav .header {
  background: #0e1b6b;
  padding: 16px 20px;
  margin-bottom: 32px;
}

.dashboard-sidenav .sidenav-nav-list a {
  padding: 16px 20px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  width: 100%;
  line-height: 1;
  border-bottom: 1px solid #00148e;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.dashboard-sidenav .sidenav-nav-list a:hover,
.dashboard-sidenav .sidenav-nav-list a.active {
  background: var(--primary-color);
}

/* ===========================================================
    Breadcrumb
=========================================================== */

.dashboard-breadcrumb {
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-color);

  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    li * {
      line-height: 1;
    }

    li:first-child {
      color: var(--primary-color);
    }
  }
}

/* ===========================================================
    Testimonial
=========================================================== */

.dash-testimonial-item {
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
  margin-bottom: 20px;
}
.dash-testimonial-item .card-content {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    flex-shrink: 0;
  }

  h6 {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
  }

  p {
    font-weight: 400;
    line-height: 1.2;
  }
}

/* ===========================================================
    Blogs
=========================================================== */

.dash-blog-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
  margin-bottom: 20px;

  .card-content {
    h6 {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: var(--dark-color);

      span {
        padding-right: 5px;
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.dash-blog-category {
  .add-category-block {
    padding-right: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: calc(100% - 120px) 120px;
    button {
      padding: 15px 0px;
      border-radius: 10px;
    }
  }

  .dash-category-list li {
    padding: 16px 0px;
    border-bottom: 1px solid #c5c3c3;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    align-items: center;

    .dash-cat-title {
      input {
        margin: 0;
        padding: 10px 0;
        border-color: transparent;
        font-size: 18px;
        color: var(--dark-color);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
      input:focus {
        border-color: var(--primary-color);
        padding: 10px;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 4px;
    }
  }
}

/* ===========================================================
    Projects
=========================================================== */
.dash-projects-item {
  .card-content {
    h6 {
      font-size: 18px;
    }
    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

/* ===========================================================
   UPLOADED IMG
=========================================================== */

.image-gallery {
  margin-bottom: 40px;
  position: relative;

  .image-gallery-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
  }
  .image-gallery-upload-btn img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .image-gallery-uploaded-img {
    position: relative;
    padding: 10px;
    background: #e5e5e5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    img {
      flex-shrink: 0;
      width: 100%;
      height: auto;
    }

    .image-item__btn-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 6px;

      span {
        font-size: 12px;
        display: flex;
        width: 20px;
        height: 20px;
        color: white;
        background: black;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}

.gallery-img-upload-zone {
  .upload__image-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
  }

  .upload__image-wrapper .image-item {
    overflow: hidden;
    position: relative;
    height: 145px;
    .image-item__btn-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 6px;
    }
    span {
      font-size: 12px;
      display: flex;
      width: 20px;
      height: 20px;
      color: white;
      background: black;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
