
.uploadImgBtn {
    width: 180px;
    cursor: pointer;
}

.uploadImgBtn img {
    width: 100%;
    height: auto;
}


.cloudHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;

}


.cloudHeader ul {
    display: flex;
    align-items: center;
    gap: 16px;
   
}

.cloudHeader ul  li{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.cloudHeader ul li::after{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background: var(--gray-color);
    display: block;
    margin-left: 16px;
}


.cloudHeader ul li:last-child::after{display: none;}

.cloudContent ul{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 32px;

}

.cloudContent ul li {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.cloudContent ul li img {
width: 100%;
max-width: auto;
cursor: pointer;
}

.cloudContent ul li h6{
    font-size: 16px;
    padding-top: 16px;
}

.cloudImgBlock{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(width);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cloudImgBlock input {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
}

.cloudImgModal .modal-content{
    background: transparent;
}