@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input:focus,textarea:focus{
    outline: 0;
    box-shadow: 0;
  }

  body {
    background: radial-gradient(#000, #07011b,#000000, #090124,#000, #04000f,#000, #020108);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    -webkit-animation: gradient 30s ease infinite;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  a,a:hover, a:active, a:focus{
    display: inline-block;
    text-decoration: none;
  }

  ul , li{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  svg, img{
    display: inline-block;
  }

  @layer components{
    .btn-primary{
      @apply bg-primary text-base border-2  border-primary text-black leading-normal font-normal 
    }
    .btn-outline{
      @apply border-2  border-primary bg-transparent text-base text-primary
    }

    .section-title{
      @apply text-white text-54px leading-none font-notoSerif font-bold border-b-[3px] pb-4 border-dark
    }

    .section-pera {
      @apply text-base text-gray
    }

    
  }

  @layer utilities{

    .center-child{
      @apply flex items-center justify-center
    }

    .ani-delay{
      animation-delay: 5s;
    }

    .swiper-pagination.swiper-pagination-bullet-active{
      @apply bg-primary
    }
  }
}

.swiper-pagination{
  margin-top: 80px !important;
  display: flex !important;
  justify-content: center !important;
}

.swiper-pagination .swiper-pagination-bullet-active{
 background: #00CF5D !important;
}
